.sign-in {
    margin-top: 4em;
}

.login-form {
    border-right: 2px solid black;
    padding: 3em;
}
.login-form h1, .signup-form h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.signup-form {
    padding: 3em;
}

.signup-form .jumbotron {
    display: block;
    width: 100%;
    height: 300px;
    opacity: unset;
    margin-left: 1em;
}

.signup-box {
    background: white;
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-box h5 {
    font-family: 'Playfair Display', serif;
    padding-top: 1em;
    text-align: center;
    font-weight: bold;
}

.signup-box .btn {
    width: 40%;
    margin: auto;
}