.cart-items {
    display: flex;
}

.cart-item {
    width: 25%;
    margin: 0 1em;
}

.cart-item h6 {
    text-align: center;
}

.product {
    display: flex;
    justify-content: center;
}

.product button {
    margin: 5px auto;
}